@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap");

:root {
  font-family: "DM Sans", sans-serif;

  color: #f8fafc;
  background: #06111f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}